php_value upload_max_filesize 100M
php_value post_max_size 105M
php_value memory_limit 256M
php_value max_execution_time 300

# Habilita el módulo de reescritura de URLs
RewriteEngine On

# Define la base de reescritura, que es la raíz del dominio
RewriteBase /

# Evita que se muestren los listados de directorios si no hay index.php/html
Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-f

# 2. Evita redireccionar a directorios
RewriteCond %{REQUEST_FILENAME} !-d

# 3. Redirige Cualquier otra solicitud a GestorGeneral.php
#    El ^(.*)$ captura toda la URL después de RewriteBase.
RewriteRule ^(.*)$ Scripts/Incluye/GestorGeneral.php [QSA,L]


RewriteRule ^Scripts/Administrador/Controlador/ - [F,NC]
RewriteRule ^Scripts/Administrador/Modelo/Repositorio/ - [F,NC]
RewriteRule ^Scripts/Incluye/GestorGeneral.php - [L]