.botones-lista {
    position: relative;
    display: flex;
    z-index: 4;
    gap: 30px;
    justify-content: center;
}

.boton-lista {
    background: #1f1b2a;
    color: white;
    padding: 8px 15px;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(0.2em, 0.7em, 1.5em);
    box-shadow: none;
}

.boton-lista:hover {
    background: linear-gradient(to top, #1c1a27 0%, #262432 50%);
}

.activo {
    font-size: 1.0em;
    font-weight: bold;
}