.boton-carga {
  display: flex;
  max-width: 280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-top: 15px;
  flex-direction: column;
  gap: 20px;
}

.boton-cargar {
  background-color: rgba(232, 157, 19, 0.801);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

#boton-cargar-articulos {
  padding: 8px 20px;
  display: flex;
  gap: 3px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  margin: auto;
}

.boton-cargar:hover {
  background-color: #be7c00; /* Tono de morado más claro al pasar el ratón */
}

.boton-cargar:active {
  background-color: #ffb935; /* Tono de morado más oscuro al hacer clic */
  transform: translateY(2px); /* Efecto de "presionado" */
}

#boton-actualizar-articulos {
  background-color: #ffb835;
  display: flex;
  gap: 3px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  margin: auto;
}

#modificar-cafeteria {
  background-color: transparent;
  color: white;
  padding: 2px 6px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 15px;
  right: 15px;
}

#modificar-cafeteria img {
  filter: invert(1);
}

.btn-hoja {
  background: #3d3d3d;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 16px;
}

.hojas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.activo-hoja {
  background: #e89e13;
  color: black;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .hojas-container {
    flex-direction: row;
  }

  .btn-hoja {
    padding: 10px 12px;
    font-size: 17px;
  }
}
