.botones-lista {
  position: relative;
  display: flex;
  margin: auto;
  z-index: 4;
  justify-content: space-around;
  gap: 4px;
}

.boton-lista {
  background: #1e1e1e;
  color: white;
  padding: 7px 9px;
  border: none;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  box-shadow: none;
}

.activo {
  font-size: 16px;
  background-color: #3d3d3d;
  font-weight: bold;
}
