.lista {
  display: grid;
  gap: 10px;
  padding: 10px 0px;
}

/* Elementos IMPARES (1, 3, 5...) */
.lista > *:nth-child(odd) {
  background-color: transparent; /* O el color que prefieras */
}

/* Elementos PARES (2, 4, 6...) */
.lista > *:nth-child(even) {
  background-color: #2e2e2e; /* Color de fondo alternativo */
}

.rubro {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  position: relative;
  color: white;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.btn-ver-video {
  background-color: transparent;
  border: none;
  margin: 0px 10px;
  cursor: pointer;
}

.texto-vacio {
  color: white;
  justify-self: center;
}

.rubro:hover {
  transform: translateY(-2px); /* Efecto hover de levantamiento */
}

.rubro p {
  margin: 0.3vh;
  font-size: clamp(0.1em, 3vw, 1.5em);
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.articulo {
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: stretch; /* ← era center */
  gap: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
}

.articulo-logo {
  flex-shrink: 0;
  width: 90px; /* el ancho que quieras */
  height: 70px; /* altura fija para mantener proporción cuadrada */
  align-self: stretch; /* abarca toda la altura */
  display: flex;
  align-items: stretch;
  border-radius: 4px 0 0 8px;
  overflow: hidden;
  background-color: #424242; /* color de fondo para el SVG */
}

.articulo-logo svg {
  width: 100%;
  height: 100%;
}

.articulo-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articulo-content {
  padding: 10px 5px;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.articulo-info {
  display: flex;
  width: 100%;
  padding: 0 5px;
  flex-direction: column;
}

.articulo p {
  margin: 0px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#nombre-articulo-modal {
  margin-bottom: 10px;
  font-size: 28px;
}

#id-articulo {
  color: #e89e13;
  font-weight: 600;
}

p.descripcion {
  color: #9f9f9f;
  font-size: 17px;
  align-self: self-start;
}

.no-procesado {
  position: relative;
  opacity: 0.7; /* opcional, para dar efecto visual */
}

.no-procesado::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 98%;
  height: 3px;
  background-color: rgba(255, 0, 0, 0.458);
  pointer-events: none;
}

.badge-oferta {
  position: absolute;
  top: 0px;
  left: 0px;

  padding: 3px 5px;

  background-color: #22c55e; /* Verde */
  color: white;

  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;

  z-index: 10;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .rubro img {
    height: 3em; /* Este valor se aplica solo en pantallas pequeñas */
  }

  .articulo {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .articulo p {
    font-size: 15px;
    overflow-wrap: break-word;
  }

  .articulo-info {
    word-break: break-word;
  }

  p.descripcion {
    font-size: 15px;
  }
}

#lista-rubros {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Elementos IMPARES (1, 3, 5...) */
#lista-articulos > *:nth-child(odd) {
  background-color: #1d1d1d; /* O el color que prefieras */
}

/* Elementos PARES (2, 4, 6...) */
#lista-articulos > *:nth-child(even) {
  background-color: #2e2e2e; /* Color de fondo alternativo */
}

.titulo-rubro {
  color: #e89e13;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hidden {
  display: none;
}
