body {
  font-family: sans-serif;
  background: #000000;
  max-width: 100%;
}

#header {
  background: transparent;
  position: fixed; /* 🔥 Lo mantiene siempre visible */
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  z-index: 1000;
  transition:
    height 0.4s ease,
    transform 0.6s ease,
    opacity 0.8s ease;
  will-change: transform, height, opacity; /* mejora rendimiento */
}

#modal-video {
  padding: 0px;
  background: transparent;
  color: white;
}

.lista-meseros {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mesero-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #222;
  color: #fff;

  padding: 10px 16px;
  border-radius: 999px; /* ← forma ovalada */

  border: 1px solid #e89e13;
}

/* info izquierda */
.mesero-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* código */
.mesero-codigo {
  font-weight: bold;
  color: #e89e13;
  min-width: 40px;
}

/* nombre */
.mesero-nombre {
  font-size: 14px;
}

/* abreviatura */
.mesero-abreviatura {
  font-size: 12px;
  opacity: 0.7;
}

/* acciones derecha */
.mesero-acciones {
  display: flex;
  gap: 8px;
}

#btnGuardarContrasenaCompartida {
  margin-top: 10px;
  color: #e89e13;
}

#btnGuardarContrasenaCompartida:hover {
  color: #fff;
  background-color: #e89d136c;
}

#btnEliminarContrasenaCompartida img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

/* botones */
.btn-mesero {
  background-color: transparent;
  border: 1px solid #e89e13;
  color: #e89e13;

  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;

  transition: all 0.2s ease;
}

.btn-eliminar {
  background-color: #eb2a2a;
  border: none;
  color: white;
  padding: 0px 5px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: -20px;
  left: 0px;
  z-index: 12;
}

.btn-eliminar img {
  filter: invert(100%) sepia(100%) grayscale(100%) brightness(150%);
}

.btn-editar:hover {
  background-color: #e89e13;
  color: #222;
}

.btn-mesero img {
  width: 15px;
  height: 15px;
  pointer-events: none;
  filter: invert(1);
}

.icono-excel svg {
  width: 15px;
  height: 15px;
}

.btn-mesero:hover img {
  filter: invert(0);
}

#titulo-pagina {
  text-align: center;
  color: white;
  padding: 26px 0px 0px; /* 👈 para darle espacio vertical */
  margin: 0% auto 3.5%;
  height: 100%;
  transition:
    height 0.3s ease,
    transform 0.4s ease,
    opacity 0.8s ease;
  transform-origin: top center;
  font-size: 32px;
  font-weight: 600;
}

#header.oculto {
  transform: translateY(-100%);
  opacity: 0;
}

#header.minimizado {
  height: 120px;
}

#titulo-pagina.minimizado {
  transform: scale(0.6);
}

#titulo-pagina div img {
  width: 75%;
  max-width: 13rem;
  max-height: 7rem;
  margin: auto;
  width: auto;
  height: auto;
  object-fit: contain;
}

#titulo-pagina div p {
  margin: 0% auto;
  font-size: clamp(0.9rem, 50%, 45px);
}

.telefono-copiable {
  background-color: #e89e1347;
  padding: 0px 2px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  color: white;
  transition:
    transform 0.2s,
    color 0.2s,
    background-color 0.3s;
}

.telefono-copiable:hover {
  background-color: transparent;
  transform: scale(1.05);
  color: #f9c846;
}

.telefono-copiable.copiado {
  background-color: transparent;
  color: #00e676;
  transform: scale(1.1);
}

.info-empresa {
  display: flex;
  flex-direction: column-reverse;
}

h2 {
  color: white;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  margin: auto auto;
  width: 100%;
}

h3 {
  text-align: center;
  color: white;
  margin: 0.3vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 2;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 1.3vh;
  position: absolute;
  background-color: #100e16;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

.header-configurar {
  display: flex;
  justify-content: space-between;
}

.botones-empresa {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#seccion-modificar {
  background: #e89e13;
}

.moderador-dashboard {
  flex-grow: 1; /* Allow the dashboard to take up available space */
  width: 100%;
  margin: 0 auto; /* Center the dashboard horizontally */
  padding: 20px; /* Add some padding around the main content area */
  box-sizing: border-box; /* Include padding in the width calculation */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally within dashboard */
}

#form-cargar-excel {
  display: flex;
  margin-bottom: 20px;
  margin: 10px;
  justify-content: center;
  cursor: pointer;
}

.custom-file {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-label {
  background: #2d6cdf;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.file-label:hover {
  background: #1f4fa8;
}

.file-info {
  font-size: 14px;
  color: #ccc;
}

.dropzone {
  border: 2px dashed #555;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.dropzone:hover {
  border-color: #332408;
  background: #15422b57;
}

.dropzone.dragover {
  border-color: #20744a;
  background: #0c2b1b;
}

.drop-content .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtext {
  font-size: 12px;
  color: #888;
}

.file-preview {
  margin-top: 15px;
  padding: 10px;
  border-radius: 6px;
  background: #0c2b1b;
  font-size: 14px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease-in-out;

  touch-action: none;
}

.modal-content-partial {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

  width: 90%;
  max-width: 800px;

  position: relative;
  animation: slideIn 0.3s ease-in-out;
}

/* MOBILE */
@media (max-width: 768px) {
  .modal-content-partial {
    width: 95%;
    padding: 15px;
  }

  .reproductor-container video,
  .reproductor-container img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 8px;
    outline: none;
  }
}

/* DESKTOP */
@media (min-width: 769px) {
  .reproductor-container video,
  .reproductor-container img {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
  }
}

.close-modal-btn {
  position: absolute;
  top: -15px;
  right: 0;

  font-size: 50px;
  cursor: pointer;

  z-index: 5000;

  color: white;
}

p,
strong,
br {
  color: white;
}

.info-archivo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.submit-button {
  /* AÑADIDO: Espacio de 1.0em arriba y abajo */
  margin: 0.3em 0;
}

.page-title {
  color: white;
  font-size: 2.2em; /* Make the title large */
  text-align: center;
  margin-bottom: 20px; /* Add some space below the title */
}

.lista-central {
  position: relative;
  margin: auto;
  max-width: 100%;

  background: transparent;
  border-radius: 10px;
}

@keyframes bordeGlow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}

#nombre-empresa-modal {
  margin: 20px 0; /* separa del resto */
  align-self: center; /* centra dentro del flex si el form usa flex */
  text-align: center;
}

#input-nombre,
#input-codigo-carta,
#input-descripcion,
#input-precio {
  width: 100%; /* Ocupa todo el espacio disponible */
}

#boton-cargar {
  margin: 30px auto 0; /* separa del resto y centra */
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 10px;
}

.exito-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #e89e13;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

:hover {
  -webkit-tap-highlight-color: transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .lista-central {
    max-width: 100%;
  }

  #titulo-pagina div img {
    max-width: 13rem;
    max-height: 7rem;
  }

  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  .modal-content-partial {
    width: 300px;
  }
}
