.articulo.seleccionado {
  background-color: #e8a114 !important;
  -webkit-tap-highlight-color: transparent;
}

.articulo.seleccionado.fondo-impar {
  background-color: #f5b73a !important;
}

.articulo.seleccionado #id-articulo {
  color: #4e3300 !important;
}

.articulo.seleccionado .descripcion {
  color: #343333 !important;
}

.badge-articulos {
  background-color: red;
  border-radius: 500px;
  color: white;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 14px;
  padding: 1px 6px;
}

/* Animación tipo latido */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01); /* Se agranda */
  }
  100% {
    transform: scale(1); /* Vuelve a su tamaño */
  }
}
