.articulo.seleccionado {
  background-color: #e8a114 !important;
  -webkit-tap-highlight-color: transparent;
}

.articulo.seleccionado.fondo-impar {
  background-color: #f5b73a !important;
}

.articulo.seleccionado #id-articulo {
  color: #4e3300 !important;
}

.articulo.seleccionado .descripcion {
  color: #343333 !important;
}

/* Animación tipo latido */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01); /* Se agranda */
  }
  100% {
    transform: scale(1); /* Vuelve a su tamaño */
  }
}
