#pedir-datos-wrapper {
  padding: 15px 20px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  user-select: none; /* estándar */
  -webkit-user-select: none; /* Chrome / Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge */
}

.required::after {
  content: " *";
  color: #e69f1a; /* amarillo */
  font-weight: bold;
  font-size: 12px;
}

.lista-botones {
  display: flex;
  gap: 10px;
  margin-bottom: 35px;
}

.toggle-btn {
  padding: 10px 13px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  border-radius: 8px;
  transition:
    background-color 0.2s,
    color 0.2s;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#boton-delivery {
  fill: transparent;
}

.toggle-btn.active {
  background: #e69f1a;
  color: black;
}

#titulo-modulos {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group input[type="numeric"],
.form-group input[type="password"],
.form-group input[type="tel"] {
  width: 40%;
  margin: auto;
  padding: 12px;
  font-size: 15px;
  border: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.06);
  color: white;
}

#direccion-cliente {
  margin-bottom: 35px;
}

@media screen and (max-width: 600px) {
  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group input[type="numeric"],
  .form-group input[type="password"],
  .form-group input[type="tel"] {
    width: 75%;
  }
}

.toggle-btn .icono {
  stroke: #e69f1a;
  fill: #e69f1a;
}

.toggle-btn.active .icono {
  fill: black;
  stroke: black;
}

#icono-retirar {
  fill: none !important;
}
